/* ==== Google fonts link ====  */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ===-= reset section here ===-=  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
}

html , body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(#B8E7FA , #B8E7FA);
}

span {
    color: #FFA500;
    text-transform: none;
}

.btn {
    width: 12rem;
    padding: 17px 24px ;
    border-radius: 10px;
    background: linear-gradient(#FFA500,#FFD447);
    color: black;
    font-size: .8rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

/* ==== Header section starts here =====  */

.nav-bar {
    width: 100%;
    height: 100px;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.nav-bar h1 {
    font-size: 2rem;
    font-weight: 700;
}

/* ===-= banner section starts here ===-=  */

.banner {
    width: 87.5%;
    margin: 200px auto 0;
    background-color: #eee;
    border-radius: 1rem;
    padding: 2rem;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.banner-content h1 {
    font-size: 2rem;
    color:#0D1321;
}

.banner-content p {
    font-size: .9rem;
    max-width: 40%;
    text-align: center; 
    color:#0D1321;
    opacity: .5;
}

/* ===-= Hero section starts here ===-=  */

.hero {
    width: 87.5%;
    margin: 100px auto;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero-container > h1 {
    text-align: center;
    font-size: 2rem;
    color: #0D1321;
}

.hero-container > p {
    width: 40%;
    text-align: center;
    font-size: .9rem;
    color:#0D1321;
    opacity: .5;
}

/* == hero body == */

.hero-body {
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 3rem auto;
    border-radius: 1rem;
}

.body-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.body-content > h1 {
    font-size: 2rem;
    opacity: .8;
    color: #0D1321;
}

.body-content > p {
    font-size: .9rem;
    color:#0D1321;
    opacity: .5;
}

/* ====-= target section starts here ===-= */

.target {
    width: 87.5%;
    margin: 100px auto;
}

.target-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.target-container h1 {
    text-align: center;
}
.target-container p {
    text-align: center;
    font-size: .9rem;
}
 /* == target card ==  */

.target-card {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-self: stretch;
    margin-top: 2rem;
}

.card {
    width: 100%;
    max-width: 20%;
    background: linear-gradient(#E6EDF9 , #9DE5FF);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5rem;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.25);  
}
.card a {
    color: black;
}

/* ===-= footer section starts here ==-=  */

.footer {
    width: 100%;
    background-color: #eee;
    padding: 2rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;   
}

.footer-container h1 {
    font-size: 1.5rem;
    color: #0D1321;
    opacity: .8;
}

.footer-container .icon {
    display: flex;
    gap : 1rem;
    font-size: 1.5rem;
    opacity: .7;
}

    /* ========= Thanks For Visiting My Code ========= */