


/* common code starts here  */

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    text-transform: capitalize;
    font-family:"Poppins", sans-serif;
}

body 
{
    min-height: 100vh; 
    background: linear-gradient(  #B8E7FA, #E6E6FA );
    padding-top: 102px;
}

 /* img{
    width: 100%;
    height: auto;
    object-fit: contain;
}  */

.btn 
{
    padding: 17px 24px;
    border-radius: 10px;
    font-weight: 3px;
    background:linear-gradient(#FFA500,#FFD447); 
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    
}


.btn-extra{
    width: 12rem;
}




/* common code ends here  */



.header-section
{
    width: 100%;    
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.nav-section
{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 24px 0;
    margin: auto;
    
}

.logo-area h2 
{
    font-weight: bold;
    font-size: 28px;
}

.logo-area h2 span 
{
    text-transform:lowercase ;
    color:#FFA500 ;
}


/* Banner section start here  */ 

.banner-section 
{
    width:87.5%;   
    margin: 100px auto;
    background: #E6EDF9;
    border-radius: 16px;
   
}

.banner-section .banner-body 
{
    padding: 40px 60px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
}

.banner-content 
{
    text-align: center;
    width: 90.4%;
}

.banner-content h2 {

    font-weight: bold;
    font-size: 48px;
    margin-bottom:24px;   
}

.banner-content p 
{
    width: 60%;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #0D1321 ;
    margin: auto;   
}


/* blog-section starts here  */

.blog-section 
{
    width:87.5%;   
    margin: 100px auto;
    display: flex;
    flex-direction: column;   
    gap: 48px;     
}

.blog-section .blog-title
{
    text-align: center;
}

.blog-title h1 
{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 24px;

}

.blog-title p 
{
    font-size:16px;
    line-height: 26px;
    color:#0D1321;
    width: 60%;
    margin: auto;
}

.blog-section .blog-body
{
    background-color:#E6EDF9 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 48px;
    border-radius: 16px;
}

.blog-content h2 
{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #0D1321;
}

.blog-content p 
{
    font-size: 16px;
    color: #0D1321;
    line-height: 1.5;
    margin-bottom: 32px;
}

/* target section starts here  */

.target-section
{
    width: 87.5%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 100px auto;
}

.target-title
{
    text-align: center;
}

.target-title h1 
{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 24px;
}

.target-title p 
{
    color: #0D1321;
    font-size: 16px;
}

.target-body
{
    display: flex;
    justify-content: space-around;
    align-items: center;
 
    
}

.target-card
{
     width: 364px;
     height: 244px; 
     background: linear-gradient( #B8E7FA, #E6E6FA );
     border-radius: 16px; 
     box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.25);   
     
}

.card-content
{
    padding: 40px;
          
}

.card-content img ,h3 , a

{
    margin-bottom: 24px;
}

/* footer sectioon starts here  */


.footer-section 
{
    background: white;
    
}

.footer-body
{
    display: flex;
    justify-content: space-between;
    padding: 32px 150px ;
}

.footer-title h2 
{
    font-weight:bold;
    font-size: 20px;
    color: #0D1321 ;
}

.footer-icon div
{
    margin-right:24px;
    font-size:25px;
}

.fa-facebook 
{
    color:#006AFF 
}

.fa-github 
{
    color:#000000 ;
}

.fa-instagram 
{
    color:#E1306C ;
}



